<script type="text/javascript">
    try {
        $.isReady
    } catch(err) {
        if(err.type === 'not_defined') {
            var scriptElement = document.createElement('script');
            scriptElement.type = 'text/javascript';
            scriptElement.src = '{{ DJANGOVOICE_JQUERY_PATH }}';

            document.head.appendChild(scriptElement);
        }
    }
</script>
<script type="text/javascript" src="{{ STATIC_URL }}djangovoice/js/djangovoice.js"></script>

<div id="djangovoice-widget">
    <p>{% trans "feedback" %}</p>
</div>

<div id="djangovoice-dialogbox" style="display: none;">
    <div id="feedback-widget-close">
        <img src="{{ STATIC_URL }}images/dialog_close.png" alt="X" />
    </div>

    <h1>{% trans "Feedback" %}</h1>

    <p class="help-text">
        {% blocktrans %}
        We really value your feedback. Please let us know about any issues or ideas you have. Unless marked as private your feedback will apear on the feedback page and other users will be able to view, comment on and rate it.
        {% endblocktrans %}
    </p>

    <form action="{% url djangovoice_submit %}" method="post">
        <table>
            {% for field in form %}
            {% include "djangovoice/includes/fields.html" %}
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <br />
                    <input type="submit" value="{% trans "Submit" %}" />
                </td>
            </tr>
        </table>
    </form>

    <div id="feedback-widget-loading">
        <img src="{{ STATIC_URL }}images/loading.gif" alt="loading..." /> Submitting feedback&hellip;
    </div>
    <div id="feedback-widget-response">
    </div>
</div>
